@{
    ViewData["Title"] = "Home Page";
}

<h1>Movie Rental Website</h1>

<div>
<h3>Rent a Movie</h3>
	<a href="">Rent a Movie</a>
</div>

<div>
<h3>Return a Movie</h3>
    <a href="">Return a Movie</a>
</div>

<div>
<h3>View all Overdue Movies</h3>
    <a href="">View Overdue Movies</a>
</div>